<p>
  Home works!
  {{homeTitle}}
</p>

<!-- <p>{{ninja.name}}</p>
<p>{{ninja.belt}}</p> -->
<button (click)="fireYellEvent($event)">home.comp.html</button>

<!-- <ng-content></ng-content> -->

<!-- property binding -->
<!-- <input value="{{homeTitle}}"/>
<input required="{{myBoolean}}"/>
<button (click)="home_comp_html_was_clicked">home.comp.html</button> -->

<!-- 2-way data binding -->
<!-- <label>Name</label>
<input [(ngModel)]="ninja.name"/>
<label>Belt</label>
<input [(ngModel)]="ninja.belt"/>
<p>{{ninja.name}}</p>
<p>{{ninja.belt}}</p> -->
